body{  
    text-align:center;  
    background-color:lightblue;  
    }  
    .fa{  
    color:red;  
    font-size:50px;  
    margin:10px;}
    .glyphicon{  
        color:green;  
        font-size:70px;  
        margin:10px;  
        }  
        .material-icons{  
            color:blue;  
            font-size:90px;  
            margin:90px;  
            }  