p:nth-child(even) {   
    background: yellow;   
    color: black;   
    font-size:30px;  
  }   
  p:nth-child(odd) {   
    background: blue;   
    color: white;   
        font-size:20px;  }